* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: transparent;
}

#root {
  background-color: aliceblue;
  border: 1px solid black;
}

.form-control:focus {
  border-color: none !important;
  box-shadow: none !important;
}

body {
  font-size: 10px;
}

.increment-group button {
  padding: 0;
  margin-left: 1px;
  margin-right: 1px;
  padding-left: 1px;
  padding-right: 1px;
}

.progress-bar-div {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}